<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UnifyID.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>740BD7901E7240F8002B09FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>740BD7A71E7240F9002B09FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>740BD7B21E7240F9002B09FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
